#rider{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
    text-align: center;
}

#rider .container, .main{
    height: 100%;
}


#rider .main{
    margin: 20px;
}

#rider .input{
    margin: 1rem;
}

#rider .bookingdisplay{
    margin: 30px;
    background-color: #fff;
}